.ame-dashboard {
	height: 100%;
	.ant-row {
		width: 100%;
		height: 100%;
	}
}
.ame-directory,
.ame-project,
.ame-statistics {
	height: 100%;
	// border: 1px solid red;
}
.ame-directory {
	padding-left: 24px;
	padding-right: 24px;
	.title {
		font-size: 20px;
		color: #364064;
		padding: 2px 0;
	}

	.navigation {
		height: 90px;
		border-bottom: 1px solid #f7f8fc;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.files {
		padding-top: 12px;
		height: calc(100% - 140px);
		.ame-scrollbar-files {
			height: calc(100% - 32px) !important;
		}
	}
	.ant-collapse-borderless {
		background-color: transparent;
	}

	[data-theme="compact"] .site-collapse-custom-collapse .site-collapse-custom-panel,
	.site-collapse-custom-collapse .site-collapse-custom-panel {
		border: 0px;
	}

	.ant-collapse-content > .ant-collapse-content-box {
		padding-left: 20px;
	}
	.panel-active {
		.ant-collapse-header {
			color: #5862fa !important;
		}
	}
}

.ame-project {
	background-color: #f7f8fc;
}
