html,
body,
#root {
	height: 100%;
}
#root {
	display: flex;
	flex-direction: row;
}

.ame-layout {
	.ame-scrollbar {
		height: calc(100% - 180px) !important;
		margin: 12px 0;
	}
}
.layout-sidebar {
	flex: 0 0 84px;
	max-width: 84px;
	min-width: 84px;
	width: 84px;
	color: #fff;
	background-color: #5764ff;
	.ame-logo {
		height: 98px;
	}
	.ame-menu {
		// height: calc(100% - 144px);
		text-align: center;
		.ame-menu-item {
			background-color: transparent;
			border-left: 4px solid #5764FF;
			padding: 12px 0;
			margin: 6px 0;
			cursor: pointer;
			transition: all 400ms;
			.menu-item {
				font-size: 24px;
			}
			&:hover {
				background-color: #6a73ff;
				border-color: #6a73ff;
			}
		}
		.menu-actived {
			border-color: #fff;
			background-color: #6a73ff;
			transition: all 200ms;
		}
	}
}
.layout-pageview {
	width: calc(100% - 60px);
}
